.center {
    text-align: center;
    list-style-position: inside;
}
p {
    text-align: center;
}
body {
    background-color: white;
    font-size: 1.35em;
}
.rush {
    -webkit-text-fill-color: red;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px; 
}
h1 {
    font-size: 2em;
}
.styledImage {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
h2 {
    text-decoration: underline;
}
.button{
    font-size: 1.05em;
    background-color: red;
    border-radius: 4px;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.border{
    border: 1px solid black;
}
ol{
    display:table;
    margin:0 auto;
}
br{
    display: block;
    content: "";
    margin-top: 3px;
}